/* Colors: /dcd6f7-a6b1e1-b4869f-985f6f-4e4c67 */

body {
    font-family: Arial, sans-serif;
    background-color: #dcd6f7;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    background-color: #302A40;
    border-radius: 50px;
    color: aliceblue;
    width: 250px;
    margin: auto;
    margin-bottom: 15px;
    opacity: 0.9;
}

.homepage {
    text-align: center;
    color: #4e4c67;
}

.welcome h1 {
    overflow: hidden;
    border-right: 0.1em solid orange; 
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: 0.05em; 
    animation: typing 5s steps(80, end), blink-caret 0.75s step-end infinite;
    font-size: 52px; 
    font-family: Arial, sans-serif; 
    margin-top: 100px;
    margin-bottom: 100px;
    color: #B25D4B;
    opacity: 0.8;
}


@keyframes typing {
    from { width: 0; } 
    to { width: 100%; } 
}


@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: transparent; }
}

.header {
    background-color: #302A40;
    padding: 20px;
    box-shadow: 0px 10px 15px 0px #5FBCA5;
}

.header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: antiquewhite;
}

.header p {
    font-size: 1.2rem;
    color: antiquewhite;
}

.events-highlight, .categories {
    padding: 20px;
}

.event-cards, .category-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.event-cards {
    margin-bottom: 50px;
}

.footer {
    background-color: #302A40;
    color: #fff;
    padding: 10px;
    box-shadow: 0px 0px 15px 3px #5FBCA5;
}