/* Colors: /dcd6f7-a6b1e1-b4869f-985f6f-4e4c67 */

body {
    font-family: Arial, sans-serif;
    background-color: #dcd6f7;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    background-color: #87a98b;
    border-radius: 50px;
    color: aliceblue;
    width: 250px;
    margin: auto;
    margin-bottom: 15px;
}

.homepage {
    text-align: center;
    color: #4e4c67;
}

.header {
    background-color: #61985f;
    padding: 20px;
}

.header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: antiquewhite;
}

.header p {
    font-size: 1.2rem;
    color: antiquewhite;
}

.events-highlight, .categories {
    padding: 20px;
}

.event-cards, .category-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer {
    background-color: #61985f;
    color: #fff;
    padding: 10px;
}