/* Navbar.css */
/* Colors: #dcd6f7, #a6b1e1, #b4869f, #985f6f, #4e4c67 */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4e4c67;
    padding: 10px 20px;
    color: #fff;
}

.navbar-brand a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #dcd6f7;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    font-size: 1.2rem;
}

.navbar-links a {
    text-decoration: none;
    color: #dcd6f7;
}

.navbar-links a:hover {
    color: #a6b1e1;
}