.admin-users {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.admin-users table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    height: 100vh;
}

.admin-users th, .admin-users td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.admin-users th {
    background-color: #B25D4B;
    color: white;
}

.admin-users tr:nth-child(even) {
    background-color: rgba(205, 216, 222, 0.6);
}
.search-input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    opacity: 0.5;
}

.search-input:hover {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    opacity: 1;
    box-shadow: 0px 0px 15px 3px #B25D4B;
    transition: 1s;
}